<div class="content-padder content-background">
<app-breadcrumb [titleBreadcrumb]="title" [iconBreadcrumb]="'ion-trophy'"></app-breadcrumb>
    <div class="uk-section-small uk-section-color" *ngIf="showContent">
        <div class="uk-container uk-container-large">
            <app-table [event]="events" (changeStatus)="changeStatus($event)" (deleteProduct)="deleteProduct($event)" (openModal)="openModal($event)"></app-table>
        </div>
    </div>
    <div class="uk-height-medium" *ngIf="!showContent">
        <div class="uk-text-center uk-align-center uk-margin-large-top" uk-spinner="ratio: 2" *ngIf="!showContent" ></div>
    </div>
</div>


<div id="register-tournament" uk-modal *ngIf="showContent">
    <div class="uk-modal-dialog uk-modal-body">
        <form autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
            <fieldset class="uk-fieldset">

                <legend class="uk-legend">{{type === 'register'? 'Cadastrar' : 'Editar'}} Resultado</legend>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">{{round.teamA}}</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-stacked-text" type="text" placeholder="medeletro..." formControlName="scoreA">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">{{round.teamB}}</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-stacked-text" type="text" placeholder="medeletro..." formControlName="scoreB">
                    </div>
                </div>
            </fieldset>
        </form>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close uk-margin-right" type="button">Cancelar</button>
            <button class="uk-button uk-button-primary" type="button" (click)="onSubmit()" [disabled]="form.invalid">Salvar</button>
        </p>
    </div>
</div>

