<div id="sidebar" class="tm-sidebar-left uk-background-default">
    <div>
        <div class="user">
            <img id="avatar" width="100%" class="uk-border-circle uk-align-center uk-margin-remove-bottom" src="./assets/image/avatar/worlds.png" />
            <div class="uk-margin-top"></div>
            <div id="name" class="uk-text-truncate">Admin</div>
            <div id="email" class="uk-text-truncate">luizfncesar1@gmail.com.br</div>
            <span id="status" data-enabled="true" data-online-text="Online" data-away-text="Away" data-interval="10000" class="uk-margin-top uk-label uk-label-success"></span>
        </div>
        <br />
    </div>
    <ul class="uk-nav uk-nav-default">

        <li class="uk-nav-header uk-text-center">
            Competições
        </li>
        <li><a routerLink="/produtos"><span class="ion-cube "></span><span class="uk-padding-small uk-padding-remove-top">Lista de torneios</span></a></li>


        <li class="uk-nav-header uk-text-center">
            Configuração
        </li>
        <li><a routerLink="/"><span class="ion-android-settings"></span><span class="uk-padding-small uk-padding-remove-top">Cadastrar Torneio</span></a></li>
        <li><a routerLink="/"><span class="ion-android-settings"></span><span class="uk-padding-small uk-padding-remove-top">Cadastrar Equipe</span></a></li>
    </ul>
</div>