<main id="tournament">
    <div *ngFor="let event of listTable; let n=index">
        <h1>{{event.title}}</h1>
        <div class="main">
            <ul class="round round-{{l+1}}" *ngFor="let e of event.rounds; let l=index;">
                <ng-container *ngFor="let k of e.games; let j=index;">
                    <li class="spacer">&nbsp;</li>
                    <li class="game game-top winner">{{k.teamA}} <span>{{k.scoreA}}</span></li>
                    <li class="game game-spacer">&nbsp;</li>
                    <li class="game game-bottom ">{{k.teamB}} <span>{{k.scoreB}}</span></li>
                </ng-container>
                <li class="spacer">&nbsp;</li>
            </ul>
        </div>		
    </div>
</main>

<button class="uk-button uk-button-default uk-margin-small-right" type="button" (click)="openRegister()">cadastrar</button>
