<div class="content-padder content-background">
    <app-breadcrumb [titleBreadcrumb]="title" [iconBreadcrumb]="'ion-trophy'"></app-breadcrumb>
    <div class="uk-section-small uk-section-color uk-height-medium" *ngIf="showContent">
        <app-table-team-list [event]="events"></app-table-team-list>
    </div>
    <div class="uk-height-medium" *ngIf="!showContent">
        <div class="uk-text-center uk-align-center uk-margin-large-top" uk-spinner="ratio: 2" *ngIf="!showContent" ></div>
    </div>
</div>